body {
  font-family: Arial;
  font-size: 16px;
  background: #f4ffff;
  color: #222222;
}

b {
  color: #555555;
}

i {
  color: #999999;
}

.cl {
  font-size: 24px;
}

#headdiv {
  background-color: goldenrod;
}

#bodydiv {
  background-color: orange;
}
